body {
  background-color: #000;
}

main {
  width: 60vw;
  height: 60vh;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  margin-left: 20vmin;
  margin-right: 20vmin;
  display: flex;
}

section {
  border: 1px solid #000;
  background-color: #dc2626;
  width: 100%;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  height: 100%;
  background-color: #0284c7;
  border: 1vmin solid white;
}

.statsWindow,
.placeholder {
  background-color: #0284c7;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  border: 1vmin solid white;
  color: #bae6fd;
  width: 80%;
  height: fit-content;
}

.leCircle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.boldSpan {
  font-weight: 700;
}
